TA3000_RUNTIME_PROFILE=phase9-battle-run
TA3000_SIGNAL_STORE_BACKEND=postgres
TA3000_SIGNAL_STORE_SCHEMA=signal
TA3000_APP_DSN=postgresql://postgres:postgres@127.0.0.1:5432/ta3000
TA3000_TELEGRAM_BOT_TOKEN=CHANGE_ME_TELEGRAM_BOT_TOKEN
TA3000_TELEGRAM_SHADOW_CHANNEL=@ta3000_shadow
TA3000_TELEGRAM_ADVISORY_CHANNEL=@ta3000_advisory
TA3000_PROMETHEUS_BASE_URL=http://127.0.0.1:9090
TA3000_LOKI_BASE_URL=http://127.0.0.1:3100
TA3000_GRAFANA_DASHBOARD_URL=http://127.0.0.1:3000/d/phase9
